*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}
div {
    border: 1px solid rgb(0, 0, 0);
    height: 100px;
    width: 100px;
    margin: 0px auto;
    margin-bottom: 20px;

}
.red {
    background-color: red;
}
.green{
    background-color: green;
}
.blue {
    background-color: blue;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 100px;
    color: white;

}
.circle{
    border-radius: 50px;
}